@model Cart
@{
    ViewData["Title"] = "ViewCart";
}

<div class="jumbotron" style="background-image: url(/images/checkOut.jpg)">Cart</div>

<div class="content">
    @if (Model.Tools.Count == 0)
    {
        <p class="bold">Your cart is empty.</p>
    }
    <div class="thumbnail centered_thumbnail">
        <form class="form_line">
            @if (Model.Tools.Count == 0)
            {
                <button asp-controller="Cart" asp-action="Index">
                    Add Tools
                </button>
            }
            @if (Model.Tools.Count > 0)
            {
                <button asp-controller="Cart" asp-action="Index">
                    Add More Tools
                </button>
            }
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post" class="form_line">
            <button>
                Check Out
            </button>
        </form>
    </div>

    @foreach (Tool tool in Model.Tools)
    {
        <div class="col-sm-4">
            <div class="thumbnail column_thumbnail">
                <img class="tool_image" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                <p><strong class="bold">Brand:</strong> @tool.Brand</p>
                <p><strong class="bold">Tool:</strong> @tool.ToolName</p>
                <p><strong class="bold">Borrower:</strong> @tool.CurrentBorrowerName</p>
                <p><strong class="bold">Today's Date:</strong> @tool.DateBorrowed.ToString("MM/dd/yyyy")</p>
                <p><strong class="bold">Due Date:</strong> @tool.DueDate.ToString("MM/dd/yyyy")</p>
                <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                    <input type="hidden" value="@tool.Id" name="id" />
                    <button>
                        Remove From Cart
                    </button>
                </form>
            </div>
        </div>
    }
</div>
