@model Cart
@{
    ViewData["Title"] = "ViewCart";
}

<div class="jumbotron caption" style="background-image: url(/images/AvailableTools.jpg); background-color: black; color: white; height: 200px;">Cart</div>

<div class="content">
    <div class="search_thumbnail">
        <form>
            @if (Model.Tools.Count == 0)
            {
                <button asp-controller="Cart" asp-action="Index">
                    Add Tools
                </button>
            }
            @if (Model.Tools.Count > 0)
            {
                <button asp-controller="Cart" asp-action="Index">
                    Add More Tools
                </button>
            }
        </form>
        <form asp-controller="Cart" asp-action="Checkout" method="post">
            <button>
                Check Out
            </button>
        </form>
    </div>

    @foreach (Tool tool in Model.Tools)
    {
        <div class="col-sm-4">
            <div class="column_thumbnail">
                <img class="tool_image" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                <p><strong>Brand:</strong> @tool.Brand</p>
                <p><strong>Tool:</strong> @tool.ToolName</p>
                <p><strong>Borrower:</strong> @tool.CurrentBorrowerName</p>
                <p><strong>Today's Date:</strong> @tool.DateBorrowed.ToString("MM/dd/yyyy")</p>
                <p><strong>Due Date:</strong> @tool.DueDate.ToString("MM/dd/yyyy")</p>
                <form asp-controller="Cart" asp-action="RemoveFromCart" method="post">
                    <input type="hidden" value="@tool.Id" name="id" />
                    <button>
                        Remove From Cart
                    </button>
                </form>
            </div>
        </div>
    }
</div>
