@model List<Tool>
@{
    bool? isLoggedIn = ViewBag.IsLoggedIn as bool?;
    if (isLoggedIn == null)
    {
        isLoggedIn = false;
    }
}
@{
    ViewData["Title"] = "CheckedOutTools";
}

<div class="jumbotron" style="background-image: url(/images/CheckedOutTools.jpg)">Checked Out Tools</div>

<div class="content">
    @foreach (Tool tool in Model)
    {
        <div class="col-sm-4">
            <div class="thumbnail column_thumbnail">
                <img class="tool_image" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                <p><strong class="bold">Brand:</strong> @tool.Brand</p>
                <p><strong class="bold">Tool:</strong> @tool.ToolName</p>
                <p>@tool.Description</p>
                <p><strong class="bold">Due Date:</strong> @tool.DueDate.ToString("MM/dd/yyyy")</p>
                @if ((bool)isLoggedIn)
                {
                    <p><strong class="bold">Checked Out By:</strong> @tool.CurrentBorrowerName</p>
                }
            </div>
        </div>
    }
</div>

