@model List<Tool>
@{
    ViewData["Title"] = "RemoveATool";
}

<h2>Remove A Tool</h2>
<div class="content">
    @foreach (Tool tool in Model)
    {
        <div class="col-sm-4">
            <div class="column_thumbnail">
                <img class="tool_image" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                <p><strong>Tool ID:</strong> @tool.Id</p>
                <p><strong>Brand:</strong> @tool.Brand</p>
                <p><strong>Tool:</strong> @tool.ToolName</p>
                <form asp-controller="Tool" asp-action="RemoveATool" method="post">
                        <input type="hidden" value="@tool.Id" asp-for="@tool.Id" />
                        <button>
                            Remove
                        </button>
                </form>
            </div>
        </div>
    }
</div>