@model RemoveAToolViewModel
@{
    ViewData["Title"] = "RemoveATool";
}

<div class="jumbotron" style="background-image: url(/images/EditTools.jpg); background-position-y: bottom; ">Remove A Tool</div>


<div class="content">
    @if (!string.IsNullOrEmpty(Model.SuccessMessage))
    {
        <div class="new-item-confirm alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>@Model.SuccessMessage</strong>
        </div>
    }

    @foreach (Tool tool in Model.Tools)
    {
        <div class="col-sm-4">
            <div class="thumbnail column_thumbnail">
                <img class="tool_image" src="~/images/@(tool.ImageName).jpg" alt="Tool Photo" />
                <p><strong class="bold">Tool ID:</strong> @tool.Id</p>
                <p><strong class="bold">Brand:</strong> @tool.Brand</p>
                <p><strong class="bold">Tool:</strong> @tool.ToolName</p>
                <form asp-controller="Tool" asp-action="RemoveATool" onclick="return confirm('Do you really want to remove this tool?');" method="post">
                    <input type="hidden" value="@tool.Id" asp-for="@tool.Id" />
                    <button>
                        Remove
                    </button>
                </form>
            </div>
        </div>
    }
</div>