@model List<ToolLoanRecordSearchModel>
@{
    ViewData["Title"] = "ToolLoanRecordSearchResultModel";
}

<div class="caption">
    Search Results
</div>

@if (Model.Count == 0)
{
    <p>No results found with your search parameters.</p>
}
else
{
    <div class="content">
        @foreach (ToolLoanRecordSearchModel loanRecord in Model)
        {
            <div class="col-sm-4">
                <div class="tool_thumbnail">
                    <img class="tool_image" src="~/images/@(loanRecord.ImageName).jpg" alt="Tool Photo" />
                    <p><strong>Tool Number:</strong> @loanRecord.Id</p>
                    <p><strong>Brand:</strong> @loanRecord.Brand</p>
                    <p><strong>Tool:</strong> @loanRecord.ToolName</p>
                    <p><strong>Current Borrower:</strong> @loanRecord.CurrentBorrowerName</p>
                    <p><strong>License Number:</strong> @loanRecord.LicenseNumber</p>
                    <p><strong>Date Borrowed:</strong> @loanRecord.DateBorrowed.ToString("MM/dd/yyyy")</p>
                    <p><strong>Due Date:</strong> @loanRecord.DueDate.ToString("MM/dd/yyyy")</p>
                </div>
            </div>
        }
    </div>
}
