@model List<ToolLoanRecordSearchModel>
@{
    ViewData["Title"] = "ToolLoanRecordSearchResultModel";
}

<h2>Search Results</h2>

@if (Model.Count == 0)
{
    <p>No results found with your search parameters.</p>
}
else {
@foreach (ToolLoanRecordSearchModel loanRecord in Model)
{
    <p>Tool Number: @loanRecord.Id</p>
    <p>Brand: @loanRecord.Brand</p>
    <p>Tool: @loanRecord.ToolName</p>
    <p>Current Borrower: @loanRecord.CurrentBorrowerName</p>
    <p>License Number: @loanRecord.LicenseNumber</p>
    <p>@loanRecord.DateBorrowed</p>
    <p>@loanRecord.DueDate</p>

}
}